* {
  box-sizing: border-box;
}

.container {
  /* width:700px; */
  /* height:200px; */
  background-color: darkgrey;
}
img {
  display: block;
  margin: 0 auto;
  width: 100%;
  border: 2px solid white;
  /* margin-bottom:2rem;   */
}
span {
  display: inline-block;
  width: 10vw;
  padding-left: 1vw;
  padding-right: 1vw;
  background-color: white;
  border: 0.2vw solid green;
  border-radius: 2vw;
  padding: 0.5vw 1vw;
  opacity: 0.9;

  font-size: 1.5vw;
}

.span-1 {
  position: absolute;
  top: 2vw;
  right: -20px;
}
.span-2 {
  position: absolute;
  top: 6vw;
  right: -20px;
}
.container-img {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 40vw;
}
